/*
Student Name: Robin Kelley
File Name: styles.css
Date: 10/02/2023
*/

/*CSS reset*/
body, header, nav, main, 
footer, img, h1, h2, ul, 
li, dl, dd, .grid, figure,
figcaption {
  margin: 0;
  padding: 0;
  border: 0;
}

/*Style rule for body and image*/
body{
  background-color: #000000;
}


/* Style rule for images */
img {
  max-width: 100%;
  display: block; 
  margin-left: auto;
  margin-right: auto;
  border-radius: 8px;   
}

/*Style rule for header content*/

header {
  text-align: center;
  font-size: 40px;
  font-family: Caveat, Times, serif;
  color: #663799;
}
h1 {
  text-align: center;
  font-size: 40px;
  font-family: Caveat, Times, serif;
  color: #663799;
}

h2 {
  text-align: center;
  font-size: 30px;
  font-family: Caveat, Times, serif;
  padding: 1%;
  color: #663799;
}

h3 {
  text-align: left;
  font-size: 20px;
  font-family: Caveat, Times, serif;
  padding: 1%;
  color: #663799;
}

/*Style Rules for navigation area*/
nav {
    background-color: #000000;
}
 
nav ul {
    list-style-type: none;
    text-align: center;
    
}
 
nav li {
    display: block;
    border: 1px solid #663799;
    font-size: 1em;
    border-radius: 8px;
    font-family: 'Indie Flower', Times, serif;
}
 
nav li a {
    display: block;
    color: #663799;
    text-align: center;
    padding: 0.5em 1em;
    text-decoration: none;
}

.grid {
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 20px;
}

aside{
  grid-column: 1 / span 2;
}
/*Style rules for main content*/
main {
  padding: 2%;
  font-family:'Century Gothic', Arial, Sans-serif;
  overflow: auto;
}

main p {
  font-size: .75em;
  color:#663799;
  text-align: center;
  margin: auto;
}

video {
  display: block;
  margin: auto;
}

figure {
  position: relative;
  max-width: 275px;
  margin: 2% auto;
  border: 8px solid #663799;
}

figcaption {
  position: absolute;
  bottom: 0;
  background:#000000;
  color: #663799;
  width: 100%;
  text-align: center;
  font-family:'Century Gothic', Arial, Sans-serif;
  font-size: .25em;
  font-weight: bold;
}
  
main dl {
    display: block;
    font-size: 20px;
    border-radius: 8px;
    font-family: 'Indie Flower', Times, serif;
    color: #663799;
    align-items: center;
} 

main dd {
    display: block;
    font-size: 15px;
    font-weight: italic;
    border-radius: 8px;
    font-family: 'Indie Flower', Times, serif;
    color: #663799;
}

.email-link, .tel-link {
  color: #663799;
  text-decoration: none;
  font-weight: bold;
}
  
.external {
  color: #663799;
  text-decoration: none;
  font-weight: bold;
  font-style: italic;
}

.map {
  border: 5px solid #663799;
  max-width: 100%;
  display: block; 
  margin-left: auto;
  margin-right: auto;
  border-radius: 8px;  
}

.title{
    display: block;
    font-size: 30px;
    border-radius: 8px;
    font-family: 'Indie Flower', Times, serif;
    color: #663799;
    align-items: center;
    font-weight: bold;
}

.list{
    display: block;
    font-size: 25px;
    font-weight: italic;
    border-radius: 8px;
    font-family: 'Indie Flower', Times, serif;
    color: #663799;

}
 
.sublist{
    display: block;
    font-size: 20px;
    font-weight: italic;
    border-radius: 8px;
    font-family: 'Indie Flower', Times, serif;
    color: #663799;

}
/*Style rules for footer content*/
footer {
  text-align: center;
  font-size: .85em;
  background-color: #000000;
  color: #663799;
  padding-top: 1%;
  padding-bottom: 1%;
  padding-right: 0%;
  padding-left: 0%;
}
  
footer p a {
  color: #663799;
  text-decoration: none;
}

/* Media Query for Tablet Viewport */
@media screen and (min-width: 550px), print { 

  /* Tablet Viewport: Show tab-desk class, hide mobile class */  
  .tab-desk {
      display: block;
  } 
  .mobile {
      display: none;  
  } 
  
  /* Tablet Viewport: Style rule for header content */     
  span.tab-desk {
      display: inline;
  }

  /* Tablet Viewport: Style rules for nav area.*/
  nav li {
    border-top: none;
    display: inline-block;
    font-size: 1.5em;
    border: 1px solid #663799;
  }

  nav li a {
    padding-top: 0.25em;
    padding-bottom: 0.25em;
    padding-left: 0.5em;
    padding-right: 0.5em;
  }

  /*Tablet Viewport: Style rule for map */
  .map {
    width: 500px;
    height: 450px;
  }

  .grid {
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 20px;
  }

  aside {
    grid-column: 1 / span 2;
  }
  .img {
    max-width: 75%;
  }
  main p {
    font-size: 20px;
  }

}

/*Media Query for Desktop Viewport */
@media screen and (min-width: 769px), print{
  /* Desktop Vierwport: Style rule for header. */
  header {
    padding: 2%;
  }

  /* Desktop Viewport: Style rules for nav area. */
  nav li a {
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    padding-left: 1.5em;
    padding-right: 1.5em;
  }

  nav li a:hover {
    color: #000;
    background-color: #c297f0;
  }

  /* Desktop Viewport: Style rules for main content. */

  #info ul {
    margin-left: 5%;
  }

  main h3 {
    font-size: 1.5em;
  }

  #piano, #guitar, #violin {
    width: 29%;
    float: left;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 2%;
    margin-right: 2%;
  }

  .grid {
    grid-template-columns: auto auto auto auto;
  }

  figcaption {
    font-size: .5em;
  }

  aside {
    grid-column: 1 / span 4;
  }
  .img {
  max-width: 75%;
  }
  main p {
    font-size: 20px;
  }
}


/* Media Query for Print */
@media print {

  body{
    background-color: #fff;
    color: #000;
  }
}

